@keyframes tennisball-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tennisball-move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2px, 20px);
  }
}

.tennisball-anim {
  animation: tennisball-move 0.75s ease-in-out infinite alternate;
}

/* Staggered delays for up to 10 paths */
.tennisball-anim:nth-of-type(1) {
  animation-delay: 0s;
}
.tennisball-anim:nth-of-type(2) {
  animation-delay: 0.05s;
}
.tennisball-anim:nth-of-type(3) {
  animation-delay: 0.1s;
}
.tennisball-anim:nth-of-type(4) {
  animation-delay: 0.15s;
}
.tennisball-anim:nth-of-type(5) {
  animation-delay: 0.2s;
}
.tennisball-anim:nth-of-type(6) {
  animation-delay: 0.25s;
}
.tennisball-anim:nth-of-type(7) {
  animation-delay: 0.3s;
}
.tennisball-anim:nth-of-type(8) {
  animation-delay: 0.35s;
}
.tennisball-anim:nth-of-type(9) {
  animation-delay: 0.4s;
}
.tennisball-anim:nth-of-type(10) {
  animation-delay: 0.45s;
}
.tennisball-anim:nth-of-type(11) {
  animation-delay: 0.5s;
}
.tennisball-anim:nth-of-type(12) {
  animation-delay: 0.55s;
}
.tennisball-anim:nth-of-type(13) {
  animation-delay: 0.6s;
}
.tennisball-anim:nth-of-type(14) {
  animation-delay: 0.65s;
}
.tennisball-anim:nth-of-type(15) {
  animation-delay: 0.7s;
}
.tennisball-anim:nth-of-type(16) {
  animation-delay: 0.75s;
}
.tennisball-anim:nth-of-type(17) {
  animation-delay: 0.8s;
}
.tennisball-anim:nth-of-type(18) {
  animation-delay: 0.85s;
}
.tennisball-anim:nth-of-type(19) {
  animation-delay: 0.9s;
}
.tennisball-anim:nth-of-type(20) {
  animation-delay: 0.95s;
}
.tennisball-anim:nth-of-type(21) {
  animation-delay: 1s;
}
.tennisball-anim:nth-of-type(22) {
  animation-delay: 1.05s;
}

.outerSphereContainer {
  transform: translate(-20px, 6px);
}
.outerSphereContainer svg {
  width: 73%;
  height: 73%;
  background-color: transparent;
  animation: tennisball-rotate 33s linear infinite;
}

.outerSphereContainer path {
  stroke: white;
  stroke-width: 4.5;
  fill: rgba(0, 0, 0, 0.263);
}
