.ShinyLight {
  background: rgb(32, 157, 1);
  border-radius: 100%;
  margin: 7px;
  height: 8px;
  width: 8px;
  border: black 1px solid;

  box-shadow: 0 0 0 0 rgb(38, 255, 0);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(149, 255, 96, 0.884);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes satellite-spin {
}
