/* #root {
  margin: 0 auto;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
 
}

body {
  cursor: url("assets/icons/mouseIcon.png"), auto !important;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

@font-face {
  font-family: "header";
  src: url("assets/fonts/Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "body";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}
