.swiper-slide .swiper-button-next {
  background-color: rgba(0,0,0,0.6) !important;
  margin-right:20px;
  transform: scale(0.7);
}

.swiper-slide .swiper-button-prev {
  background-color: rgba(0,0,0,0.6) !important;
  margin-left:20px;
  transform: scale(0.7);
}
